<div class="container-fluid" style="background-color: white">

  <button class="btn btn-warning mb-3 float-right text-uppercase" *ngIf="userRoleStatus.indexOf('Admin') !== -1 || userRoleStatus.indexOf('Librarian') !== -1"
          (click)="onAddBook()"><i class="fa fa-plus"></i> Add Book
  </button>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered row-border hover"
         style="width:100%">
    <thead class="text-center thead-dark">
    <tr>
      <th>Id</th>
      <th>Book name</th>
      <th>Genre</th>
      <th>Short review</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of books" class="text-center">
      <td>{{book.id}}</td>
      <td>{{book.bookName}}</td>
      <td>{{book.genre}}</td>
      <td>{{book.shortReview}}</td>
      <td>
        <div class="btn-group mt-2" role="group">
<!--          <button type="button" class="btn btn-success" (click)="onSelect(book)"><i class="fas fa-list"></i></button>-->
          <button type="button" class="btn btn-primary" *ngIf="userRoleStatus.indexOf('Admin') !== -1 || userRoleStatus.indexOf('Librarian') !== -1"
                  (click)="onUpdateModal(book)"><i class="fas fa-edit"></i></button>
          <button type="button" class="btn btn-danger" *ngIf="userRoleStatus.indexOf('Admin') !== -1 || userRoleStatus.indexOf('Librarian') !== -1" (click)="onDelete(book)"><i
            class="fas fa-trash-alt"></i></button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- ADD BOOK MODAL START-->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title">ADD NEW BOOK</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p class="list-group-item active text-center text-uppercase">{{modalMessage}}</p>
    <form [formGroup]="insertForm" (ngSubmit)="onSubmit()">
      <ul class="list-group">

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="bookName"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="bookName" formControlName="bookName" class="form-control" placeholder="eg: Kobzar" aria-label="bookName" aria-describedby="bookName">
          </div>
          <div class="errorMessage" *ngIf="bookName.touched && bookName.errors">
            <span *ngIf="bookName.hasError('required')">Book Name is required.</span>
          </div>
        </li>

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="genre"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="genre" formControlName="genre" class="form-control" placeholder="eg: short poem" aria-label="genre" aria-describedby="genre">
          </div>
          <div class="errorMessage" *ngIf="genre.touched && genre.errors">
            <span *ngIf="genre.hasError('required')">Genre is required.</span>
          </div>
        </li>

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="shortReview"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="shortReview" formControlName="shortReview" class="form-control" placeholder="eg: Some description" aria-label="shortReview" aria-describedby="bookReview">
          </div>
          <div class="errorMessage" *ngIf="shortReview.touched && shortReview.errors">
            <span *ngIf="shortReview.hasError('required')">Short review is required.</span>
          </div>
        </li>


        <li class="list-group-item">
          <button [disabled]="insertForm.invalid"  class="btn btn-primary btn-block">ADD</button>
        </li>
      </ul>

    </form>

  </div>
</ng-template>

<!-- ADD BOOK MODAL START-->


<!-- EDIT BOOK MODAL START-->

<ng-template #editTemplate>
  <div class="modal-header">
    <h4 class="modal-title">EDIT BOOK DETAILS</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p class="list-group-item active text-center text-uppercase">{{modalMessage}}</p>
    <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
      <ul class="list-group">
        <li class="list-group-item" [hidden]="_id">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="bookId"><i class="fa fa-key"></i></span>
            </div>
            <input type="text" class="form-control" formControlName="id"/>
          </div>

        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="bookName"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="bookName" formControlName="bookName" class="form-control" placeholder="eg: Kobzar"
                   aria-label="bookName" aria-describedby="bookName">
          </div>
          <div *ngIf="_bookName.touched && _bookName.errors" class="errorMessage">
            <span *ngIf="_bookName.hasError('required')">Book name is required.</span>
          </div>
        </li>

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="genre"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="genre" formControlName="genre" class="form-control" placeholder="eg: short poem" aria-label="genre" aria-describedby="genre">
          </div>
          <div class="errorMessage" *ngIf="_genre.touched && _genre.errors">
            <span *ngIf="_genre.hasError('required')">Genre is required.</span>
          </div>
        </li>

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="shortReview"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="shortReview" formControlName="shortReview" class="form-control" placeholder="eg: Short review" aria-label="shortReview" aria-describedby="shortReview">
          </div>
          <div class="errorMessage" *ngIf="_shortReview.touched && _shortReview.errors">
            <span *ngIf="_shortReview.hasError('required')">Short review is required.</span>
          </div>
        </li>

        <li class="list-group-item">
          <button [disabled]="updateForm.invalid" class="btn btn-primary btn-block">UPDATE</button>
        </li>
      </ul>

    </form>

  </div>
</ng-template>

<!-- EDIT BOOK MODAL END-->
