<div class="container-fluid" style="background-color: white">

  <button class="btn btn-warning mb-3 float-right text-uppercase" *ngIf="userRoleStatus == 'Admin'"
          (click)="onAddUserRole()"><i class="fa fa-plus"></i> Add User Role
  </button>

  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered row-border hover"
         style="width:100%">
    <thead class="text-center thead-dark">
    <tr>
      <th>User Id</th>
      <th>Role Id</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let userRoles of userRoles; let i = index" class="text-center">
      <td>{{userRoles.userId}} / {{firstname[i]}} {{lastname[i]}} / {{email[i]}}</td>
      <td>{{userRoles.roleId}} / {{roleNameAdd[i]}}</td>
      <td>
        <div class="btn-group mt-2" role="group">
<!--          <button type="button" class="btn btn-primary" *ngIf="userRoleStatus == 'Admin'"-->
<!--                  (click)="onUpdateModal(userRoles)"><i class="fas fa-edit"></i></button>-->
          <button type="button" class="btn btn-danger" *ngIf="userRoleStatus == 'Admin'"
                  (click)="onDelete(userRoles)"><i
            class="fas fa-trash-alt"></i></button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- ADD BOOK MODAL START-->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title">ADD NEW Returned book</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p class="list-group-item active text-center text-uppercase">{{modalMessage}}</p>
    <form [formGroup]="insertForm" (ngSubmit)="onSubmit()">
      <ul class="list-group">

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="appUserId"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <!--            <input type="text" id="appUserId" formControlName="appUserId" class="form-control" placeholder="User id"-->
            <!--                   aria-label="appUserId" aria-describedby="appUserId">-->
            <mat-select formControlName="userId" class="form-control">
              <mat-option *ngFor="let p of profiles" [value]="p.id">{{p.id}} {{p.userName}}</mat-option>
            </mat-select>
          </div>
          <div class="errorMessage" *ngIf="userId.touched && userId.errors">
            <span *ngIf="userId.hasError('required')">User id is required.</span>
          </div>
        </li>

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="roleId"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <!--            <input type="text" id="_authorId" formControlName="authorId" class="form-control" placeholder="eg: 1"-->
            <!--                   aria-label="authorId" aria-describedby="authorId">-->
            <mat-select formControlName="roleId" class="form-control">
              <mat-option *ngFor="let r of roles.slice(1)" [value]="r.id">{{r.id}} / {{r.name}}</mat-option>
            </mat-select>
          </div>
          <div *ngIf="roleId.touched && roleId.errors" class="errorMessage">
            <span *ngIf="roleId.hasError('required')">Role Id is required.</span>
          </div>
        </li>

        <li class="list-group-item">
          <button [disabled]="insertForm.invalid" class="btn btn-primary btn-block">ADD</button>
        </li>
      </ul>

    </form>

  </div>
</ng-template>

<!-- ADD BOOK MODAL START-->
