<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section class="content-item" id="comments">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <form *ngIf="simpleProfile" [formGroup]="insertForm" (ngSubmit)="onSubmit()">
          <h3 class="pull-left">New Comment</h3>
          <fieldset>
            <div class="row">
              <div class="col-sm-3 col-lg-2 hidden-xs">
                <img *ngIf="hasPhoto" alt="User Pic" style="width: 100px; height: 100px"
                     [src]="imageSrc"
                     id="profile-image" class="img-circle img-responsive">
                <img *ngIf="!hasPhoto" alt="User Pic" style="width: 100px; height: 100px"
                     src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                     id="profile-image" class="img-circle img-responsive">
              </div>
              <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                <label for="message"></label>
                <textarea class="form-control" id="message" formControlName="text" placeholder="Your message"
                                                       required=""></textarea>
              </div>
              <div class="errorMessage" *ngIf="text.touched && text.errors">
                <!--                <span *ngIf="text.hasError('required')">Comment is required.</span>-->
                <span *ngIf="text.hasError('maxlength')">Max 500 characters.</span>
              </div>
            </div>
          </fieldset>
          <button type="submit" [disabled]="insertForm.invalid" class="btn btn-success pull-right">Add comment</button>
        </form>

        <h3 *ngIf="myCommentsCounter > 1">{{myCommentsCounter}} Comments</h3>
        <h3 *ngIf="myCommentsCounter == 1">{{myCommentsCounter}} Comment </h3>
        <h3 *ngIf="myCommentsCounter == 0">No Comments yet</h3>

        <!-- COMMENT START -->
        <div class="media"
             *ngFor="let comment of comments  | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
<!--          (mouseenter)="toggleHover(i)" (mouseleave)="removeHover(i)"-->

          <button type="button" class="btn btn-danger" *ngIf="userRoleStatus.indexOf('Admin') !== -1 || userRoleStatus.indexOf('Librarian') !== -1" (click)="onDelete(comment)"><i
            class="fas fa-trash-alt"></i></button>

          <a class="pull-left">
            <img class="media-object" *ngIf="avatar[i]" [src]="avatar[i]" alt="">
            <img *ngIf="!avatar[i]" alt="User Pic"
                 src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                 id="profile-image1" class="media-object">
          </a>
          <div class="media-body">

            <h4 class="text-left-right">
              <span class="left-text">{{firstname[i]}} {{lastname[i]}}</span>
              <span class="right-text">Checked by: ({{checkedByFirstname[i]}} {{checkedByLastname[i]}})

              </span>
            </h4>

            <p id="checkedComment" *ngIf="comment.viewedBy !== null">{{comment.text}}</p>
            <p id="notCheckedComment" *ngIf="comment.viewedBy == null"> This comment is not checked yet.</p>
            <p id="notCheckedCommentText" *ngIf="comment.viewedBy == null &&
                    (userRoleStatus.indexOf('Admin') !== -1 || userRoleStatus.indexOf('Librarian') !== -1)">({{comment.text}})</p>
            <p id="notCheckedCommentText" *ngIf="comment.viewedBy == null && comment.appUserId == userIdAsNumber && userRoleStatus.indexOf('Reader') !== -1">({{comment.text}})</p>
            <ul class="list-unstyled list-inline media-detail pull-left">
              <li><i class="fa fa-calendar"></i>{{comment.commentTime | date: formatDateTime}}</li>
            </ul>
          </div>

          <button type="button" id="btnDeleteMyComment"  *ngIf="comment.appUserId == userIdAsNumber" (click)="onDeleteMyCommentModal(comment)"><i
            class="fas fa-times"></i></button>
<!--          && hoveredElement == i-->

        </div>
        <div id="myPaginator">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
        <!-- COMMENT END -->


      </div>
    </div>
  </div>
</section>


<ng-template #deleteTemplate>
  <div class="modal-header">
    <h4 class="modal-title">DELETE COMMENT</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <p>Are you sure you want to delete your comment?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Close</button>
    <button type="button" class="btn btn-danger" (click)="onDeleteMyComment()">Delete comment</button>
  </div>
</ng-template>

