body {
  margin-top: 20px;
}

.content-item {
  padding: 30px 0;
  background-color: #FFFFFF;
  margin-left: 200px;
  margin-right: 200px;
}

.content-item.grey {
  background-color: #F0F0F0;
  padding: 50px 0;
  height: 100%;

}

.content-item h2 {
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  text-transform: uppercase;
  margin: 20px 0;
}

.content-item h3 {
  font-weight: 400;
  font-size: 20px;
  color: #555555;
  margin: 10px 0 15px;
  padding: 0;
}

.content-headline {
  height: 1px;
  text-align: center;
  margin: 20px 0 70px;
}

.content-headline h2 {
  background-color: #FFFFFF;
  display: inline-block;
  margin: -20px auto 0;
  padding: 0 20px;
}

.grey .content-headline h2 {
  background-color: #F0F0F0;
}

.content-headline h3 {
  font-size: 14px;
  color: #AAAAAA;
  display: block;
}

//#commentViewedBy{
//
//}

h4 {
  font-size: 18px;
  font-weight: bold;
}

.text-left-right {
  text-align: right;
  position: relative;
}

.left-text {
  left: 0;
  position: absolute;
}

.right-text {
  color: #9aaec1;
  font-size: 10px;
  font-style: italic;
  font-weight: normal;
}

#checkedComment{
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

#notCheckedComment {
  color: #c1579c;
  font-weight: bold;
  font-style: italic;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

#notCheckedCommentText {
  color: #878787;
  font-style: italic;
  font-size: 14px;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

#myPaginator {
  text-align: center;
}

#comments {
  box-shadow: 0 -1px 6px 1px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;

}

#comments form {
  margin-bottom: 30px;
}

#comments .btn {
  margin-top: 2px;
  margin-bottom: 7px;
}

#comments form fieldset {
  clear: both;
}

#comments form textarea {
  height: 100px;
}

#comments .media {
  border-top: 1px dashed #DDDDDD;
  padding: 20px 0;
  margin: 0;
}

#comments .media > .pull-left {
  margin-right: 20px;
}

#comments .media img {
  max-width: 100px;
}


#comments .media p {
  margin-bottom: 15px;
  text-align: justify;
}

#comments .media-detail {
  margin: 0;
}

#comments .media-detail li {
  color: #AAAAAA;
  font-size: 12px;
  padding-right: 10px;
  font-weight: 600;
}

#comments .media-detail a:hover {
  text-decoration: underline;
}

#comments .media-detail li:last-child {
  padding-right: 0;
}

#comments .media-detail li i {
  color: #666666;
  font-size: 15px;
  margin-right: 10px;
}

#btnDeleteMyComment {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  text-align: right;
}

#profile-image{
  margin-top: 24px;
}
