<ng-template #nobookOfAuthor>
  <h2>No Product to Display</h2>
</ng-template>

<div class="container" *ngIf="bookOfAuthor; else nobookOfAuthor">
  <div class="card">
    <div class="row">
      <aside class="col-sm-5 border-right">
        <article class="gallery-wrap">
          <div class="img-big-wrap">
            <div><img [src]="bookOfAuthor.image" alt=""/></div>
          </div>
          <div class="img-small-wrap">

          </div>
        </article>
      </aside>
      <aside class="col-sm-7">
        <article class="card-body p-5">
          <h3 class="title mb-3">{{bookOfAuthor.bookname | uppercase}}</h3>

          <p class="price-detail-wrap">
            <!--            <span class="price h3 text-warning">-->
            <!--              <span class="currency">CAD </span><span class="num">{{bookOfAuthor.price | currency:'CAD':'symbol-narrow':'.2'}}</span>-->
            <!--            </span>-->

          </p> <!-- price-detail-wrap .// -->

          <dl class="item-property">
            <dt class="text-uppercase text-primary"><u>Author</u></dt>
            <dd>
              <p>
                {{bookOfAuthor.name}}
              </p>
            </dd>
          </dl>
          <hr>

          <dl class="item-property">
            <dt class="text-uppercase text-primary"><u>Short review</u></dt>
            <dd>
              <p>
                {{bookOfAuthor.short_review}}
              </p>
            </dd>
          </dl>
          <hr>

          <div class="row">
            <div class="col-sm-4">
              <dl class="param param-feature">
                <dt class="text-uppercase text-primary"><u>Genre</u></dt>
                <dd><p>
                  {{bookOfAuthor.genre}}
                </p></dd>
              </dl>  <!-- item-property-hor .// -->
            </div>
            <!--            <div class="col-sm-4">-->
            <!--              <dl class="param param-feature">-->
            <!--                <dt class="text-uppercase text-primary"><u>Select Color</u></dt>-->
            <!--                <dd>-->
            <!--                  <div class="color-select">-->
            <!--                    <input type="radio" name="colorPicked" id="silver" value="small" checked />-->
            <!--                    <label class="silver" for="silver"></label>-->

            <!--                    <input type="radio" name="colorPicked" id="gold" value="small" />-->
            <!--                    <label class="gold" for="gold"></label>-->

            <!--                    <input type="radio" name="colorPicked" id="grey" value="small" />-->
            <!--                    <label class="grey" for="grey"></label>-->
            <!--                  </div>-->
            <!--                </dd>-->
            <!--              </dl>  &lt;!&ndash; item-property-color pick .// &ndash;&gt;-->
            <!--            </div>-->
            <!--            <div class="col-sm-4">-->
            <!--              <dl class="param param-feature">-->
            <!--                <dt class="text-uppercase text-primary"><u>In STOCK</u></dt>-->
            <!--&lt;!&ndash;                <dd>{{true == bookOfAuthor.outofstock ? 'No': 'Yes'}}</dd>&ndash;&gt;-->
            <!--              </dl>  &lt;!&ndash; item-property-hor .// &ndash;&gt;-->
            <!--            </div>-->


          </div>

          <hr>
          <div class="row">
            <div class="col-sm-4">
              <dl class="param param-feature">
                <dt class="text-uppercase text-primary"><u>Quantity</u></dt>
                <input type="number" #quantityHTML id="quantity" name="quantity" value="1" min="1" style="width: 70px">
                <!--                <dd>{{true == bookOfAuthor.outofstock ? 'No': 'Yes'}}</dd>-->
              </dl>  <!-- item-property-hor .// -->
            </div>
          </div> <!-- row.// -->
          <hr>

          <dl class="item-property">
            <dt class="text-uppercase text-primary"><u>In Stock</u></dt>
            <dd>
              <p>
                {{bookOfAuthor.amount}}
              </p>
            </dd>
          </dl>
          <hr>

          <!--          <a href="#" class="btn btn-lg btn-primary text-uppercase"> Buy now </a>-->

          <div *ngIf="bookOfAuthor.amount < 1;
                  then thenBlock else elseBlock">
          </div>
          <ng-template #thenBlock>
            <button class="btn btn-lg btn-outline-secondary text-uppercase ml-2"
                    style="cursor: not-allowed; pointer-events: all !important;" (click)="handleAddToCart()" disabled><i
              class="fas fa-shopping-cart"></i> Add to cart
            </button>
          </ng-template>
          <ng-template #elseBlock>
            <button class="btn btn-lg btn-outline-primary text-uppercase ml-2" (click)="handleAddToCart()"><i
              class="fas fa-shopping-cart"></i> Add to cart
            </button>
          </ng-template>
        </article> <!-- card-body.// -->
      </aside> <!-- col.// -->
    </div> <!-- row.// -->
  </div> <!-- card.// -->
  <h3 style="color: white; text-align: right; margin-top: 15px">Commentaries</h3>
  <app-comments-by-bookofauthor></app-comments-by-bookofauthor>
</div>
