.form-control{
  margin-left: 10px;
  width: 150px;
}
.btn .btn-primary{
  margin-left: 10px;
}

.btn-drop{
  background: #1a0070;
  color: #fff;
  font-weight: 600;
  font-family: 'Domine', serif;
}
