<mat-grid-list cols="5" rowHeight="600px" style="height:150px !important">
  <form novalidate
        [formGroup]="form">


    <mat-grid-tile>


      <mat-card class="example-filter">

        <section>
          <input type="submit" class="btn btn-drop btn-block" value="Drop filters" (click)="drop()"/>
        </section>

        <hr>

        <section>
          <mat-form-field class="example-full-width" style="width:150px !important">
            <!--          <mat-label>Search</mat-label>-->
            <input matInput placeholder="Book name" #searchText
                   (input)="autoSearch.emit(searchText.value)">
          </mat-form-field>
        </section>

        <section>
          <div class="row">
            <mat-select class="form-control"
                        formControlName="name">
              <mat-option value="">Author</mat-option>
              <mat-option *ngFor="let author of authors" value="{{author.name}}">{{author.name}}</mat-option>
            </mat-select>

          </div>
        </section>

        <section>
          <div class="row">
            <mat-select class="form-control"
                        formControlName="genre">
              <mat-option value="">Genre</mat-option>
              <mat-option *ngFor="let item of genre; let i = index" value="{{item}}">{{item}}</mat-option>
            </mat-select>

          </div>
        </section>

        <hr>

        <section>
          <input type="submit" class="btn btn-login btn-block" value="Apply filters" (click)="search(form.value)"/>
        </section>


      </mat-card>


    </mat-grid-tile>


  </form>
</mat-grid-list>


