/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Domine&display=swap');
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

@include mat-core();

// regular style toast
@import '~ngx-toastr/toastr';


// if you'd like to use it without importing all of bootstrap it requires
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';

body {
  font-family: 'Domine', serif;

  background-repeat:no-repeat;
  background-position: center center;
  background-image: url("assets/images/library_1920_1080.jpg");
  //background-repeat: repeat;
  background-size: cover;
  resize: inherit;
}

/*Login scss */

.login-block {
  background: #DE6262; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ffc244, #7873f5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ffc244, #7873f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  float: left;
  width: 100%;
  padding: 80px;
  margin-bottom: 20px;
  font-family: 'Domine', serif;
}


.banner-sec {
  width: 100%;
  background: #fff;
  font-family: 'Domine', serif;
  border-radius: 0 10px 10px 0;
}

.banner-sec img {
  width: 1000px;
  height: 500px;
  overflow: hidden;
  /*border-radius: 0 10px 10px 0;*/
}

.banner-sec .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #FFF;
  display: block;
  background: rgba(0, 0, 0, .6);
}

.signLog {
  background: #fff;
  border-radius: 10px;
  box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
  border-radius: 0 10px 10px 0;
  right: -16px;
}

.carousel-item {
  background: #000;
}


.carousel-caption {
  text-align: left;
  left: 5%;
}

.login-sec {
  padding: 50px 30px 0 50px;
  position: relative;
}

.login-sec .copy-text {
  position: absolute;
  width: 100%;
  bottom: 20px;
  font-size: 13px;
  text-align: center;
}


.login-sec .forgot-pass-text {
  /*position: absolute;*/
  width: 100%;
  bottom: 40px;
  font-size: 15px;
  text-align: right;
}

.login-sec .forgot-pass-text a {
  color: #E36262;
}

.login-sec .forgot-pass-text i {
  color: #ff9600;
}


.login-sec .register-text {
  /*position: absolute;*/
  width: 100%;
  bottom: 80px;
  font-size: 15px;
  text-align: right;
}

.login-sec .register-text a {
  color: #E36262;
}

.login-sec .register-text i {
  color: #ff9600;
}


.login-sec .copy-text i {
  color: #ff6ec4;
}


.login-sec .copy-text a {
  color: #E36262;
}

.login-sec h2 {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 30px;
  color: #ff8600;
}

.login-sec h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #ff8600;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto
}

.btn-login {
  background: #ff9600;
  color: #fff;
  font-weight: 600;
  font-family: 'Domine', serif;
}

.banner-text {
  width: 100%;
  position: absolute;
  bottom: 40px;
  padding-left: 20px;
  font-family: 'Domine', serif;
}

.banner-text h2 {
  color: #fff;
  font-weight: 600;
  font-family: 'Domine', serif;
}

.banner-text h2:after {
  content: " ";
  width: 100%;
  height: 5px;
  background: #FFF;
  display: block;
  margin-top: 20px;
  font-family: 'Domine', serif;
  border-radius: 3px;
}

.banner-text p {
  color: #fff;
}

.mat-checkbox-ripple .mat-ripple-element, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #000000 !important;
}


/*Login scss END*/

/*Register scss*/


.register-block {
  background: #DE6262; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ffc244, #7873f5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ffc244, #7873f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  float: left;
  width: 100%;
  padding: 50px;
  margin-bottom: 20px;
  font-family: 'Domine', serif;
}


.register-sec h2 {
  margin-top: 5px;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 30px;
  color: #ff6ec4;
}

.register-sec h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #ff6ec4;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto
}

.errorMessage {
  color: red;
}

/*Register scss END*/

$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-pink);
$app-warn: mat-palette($mat-red);

// Custom Sass colors vars (will be available in all the project)
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

$theme: mat-light-theme($app-primary, $app-accent, $app-warn);


.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.cdk-overlay-container {
  position: relative;
  z-index: 99999 !important
}

/* TOASTR BUGFIX */
#toast-container > div {
  opacity: 1;
}

.toast {
  font-size: initial !important;
  border: initial !important;
  backdrop-filter: blur(0) !important;
}


#toast-container > .toast:before {
  margin-right: 500px;
}

.toast-container .ngx-toastr {
  text-align: center;
}

.toast-success {
  background-color: #51A351 !important;
}

.toast-error {
  background-color: #c1332c !important;
}

.toast-info {
  background-color: #2F96B4 !important;
}

.toast-warning {
  background-color: #F89406 !important;
}
