<div class="row">
  <div class="col-md-7 offset-md-3 mt-4" sty>
    <div class="card" style="width:300px; ">
      <div class="box">
        <div class="img" >
          <img src="assets/images/logo.png" style="max-width:250px;max-height:250px">
        </div>
        <h2>Thank You<br><span>Email Confirmed</span></h2>
        <p>
          You can now successfuly login. You have full access to our Library.
        </p>
        <a class="btn btn-primary btn-block" href="/login">LOGIN</a>
      </div>
    </div>
  </div>
</div>
