<div class="container-fluid" style="background-color: white">

  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered row-border hover"
         style="width:100%">
    <thead class="text-center thead-dark">
    <tr>
      <th>Book of author Id</th>
      <th>Get quantity</th>
      <th>Return quantity</th>
      <th>Remained quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cardOfReader of cardOfReaders; let i = index" class="text-center">
      <td>{{cardOfReader.boaId}} // {{authorname[i]}} // {{bookname[i]}}</td>
      <td>{{cardOfReader.quantityGet}}</td>
      <td>{{cardOfReader.quantityReturn}}</td>
      <td>{{cardOfReader.remainedQuantity}}</td>
    </tr>
    </tbody>
  </table>
</div>
