<div class="container-fluid" style="background-color: white">

  <button class="btn btn-warning mb-3 float-right text-uppercase" *ngIf="userRoleStatus.indexOf('Admin') !== -1 || userRoleStatus.indexOf('Librarian') !== -1"
          (click)="onAddStock()"><i class="fa fa-plus"></i> Add Stock
  </button>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered row-border hover"
         style="width:100%">
    <thead class="text-center thead-dark">
    <tr>
      <th>Id</th>
      <th>Book of author Id</th>
      <th>Total Amount</th>
      <th>Amount</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let stock of stock; let i = index" class="text-center">
      <td>{{stock.id}}</td>
      <td>{{stock.boaId}} // {{authorname[i]}} // {{bookname[i]}}</td>
      <td>{{stock.totalAmount}}</td>
      <td>{{stock.amount}}</td>
      <td>
        <div class="btn-group mt-2" role="group">
          <button type="button" class="btn btn-primary" *ngIf="userRoleStatus.indexOf('Admin') !== -1 || userRoleStatus.indexOf('Librarian') !== -1"
                  (click)="onUpdateModal(stock)"><i class="fas fa-edit"></i></button>
          <button type="button" class="btn btn-danger" *ngIf="userRoleStatus.indexOf('Admin') !== -1 || userRoleStatus.indexOf('Librarian') !== -1" (click)="onDelete(stock)"><i
            class="fas fa-trash-alt"></i></button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- ADD STOCK MODAL START-->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title">ADD NEW STOCK</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p class="list-group-item active text-center text-uppercase">{{modalMessage}}</p>
    <form [formGroup]="insertForm" (ngSubmit)="onSubmit()">
      <ul class="list-group">

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="boaId"><i class="fa fa-pencil-square-o"></i></span>
            </div>
<!--            <input type="text" id="boaId" formControlName="boaId" class="form-control" placeholder="Book of author id" aria-label="boaId" aria-describedby="boaId">-->
            <mat-select formControlName="boaId" class="form-control">
              <mat-option *ngFor="let boa of bookOfAuthor" [value]="boa.id">{{boa.id}} // {{boa.name}} // {{boa.bookname}}</mat-option>
            </mat-select>
          </div>
          <div class="errorMessage" *ngIf="boaId.touched && boaId.errors">
            <span *ngIf="boaId.hasError('required')">Book of author Id is required.</span>
          </div>
        </li>

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="totalAmount"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="totalAmount" formControlName="totalAmount" class="form-control"
                   placeholder="Total amount" aria-label="totalAmount" aria-describedby="totalAmount">
          </div>
          <div class="errorMessage" *ngIf="totalAmount.touched && totalAmount.errors">
            <span *ngIf="totalAmount.hasError('required')">Total Amount is required.</span>
            <span *ngIf="totalAmount.hasError('pattern')">Only integer numbers are allowed. </span>
          </div>
        </li>

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="amount"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="amount" formControlName="amount" class="form-control"
                   placeholder="Current amount" aria-label="amount" aria-describedby="amount">
          </div>
          <div class="errorMessage" *ngIf="amount.touched && amount.errors">
            <span *ngIf="amount.hasError('required')">Amount is required.</span>
            <span *ngIf="amount.hasError('pattern')">Only integer numbers are allowed. </span>
            <span *ngIf="amount.hasError('rangeValidator')">Amount must be lower than total amount. </span>
          </div>
        </li>

        <li class="list-group-item">
          <button [disabled]="insertForm.invalid"  class="btn btn-primary btn-block">ADD</button>
        </li>
      </ul>

    </form>

  </div>
</ng-template>

<!-- ADD BOOK MODAL START-->


<!-- EDIT BOOK MODAL START-->

<ng-template #editTemplate>
  <div class="modal-header">
    <h4 class="modal-title">EDIT STORE DETAILS</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p class="list-group-item active text-center text-uppercase">{{modalMessage}}</p>
    <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
      <ul class="list-group">
        <li class="list-group-item" [hidden]="_id">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="boaId"><i class="fa fa-key"></i></span>
            </div>
            <input type="text" class="form-control" formControlName="id"/>
          </div>

        </li>

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="_boaId"><i class="fa fa-pencil-square-o"></i></span>
            </div>
<!--            <input type="text" id="_boaId" formControlName="boaId" class="form-control" placeholder="Book of author id" aria-label="_boaId" aria-describedby="_boaId">-->
            <mat-select formControlName="boaId" class="form-control">
              <mat-option *ngFor="let boa of bookOfAuthor" [value]="boa.id">{{boa.id}} // {{boa.name}} // {{boa.bookname}}</mat-option>
            </mat-select>
          </div>
          <div class="errorMessage" *ngIf="_boaId.touched && _boaId.errors">
            <span *ngIf="_boaId.hasError('required')">Book of author Id is required.</span>
          </div>
        </li>

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="_totalAmount"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="_totalAmount" formControlName="totalAmount" class="form-control"
                   placeholder="Total amount" aria-label="_totalAmount" aria-describedby="_totalAmount">
          </div>
          <div class="errorMessage" *ngIf="_totalAmount.touched && _totalAmount.errors">
            <span *ngIf="_totalAmount.hasError('required')">Total Amount is required.</span>
            <span *ngIf="_totalAmount.hasError('pattern')">Only integer numbers are allowed. </span>
          </div>
        </li>

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="_amount"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="_amount" formControlName="amount" class="form-control"
                   placeholder="Current amount" aria-label="amount" aria-describedby="amount">
          </div>
          <div *ngIf="_amount.touched && _amount.errors" class="errorMessage">
            <span *ngIf="_amount.hasError('required')">Amount is required.</span>
            <span *ngIf="_amount.hasError('pattern')">Only integer numbers are allowed. </span>
            <span *ngIf="_amount.hasError('rangeValidator')">Amount must be lower than total amount. </span>
          </div>
        </li>

        <li class="list-group-item">
          <button [disabled]="updateForm.invalid" class="btn btn-primary btn-block">UPDATE</button>
        </li>
      </ul>

    </form>

  </div>
</ng-template>

<!-- EDIT BOOK MODAL END-->
