<div class="container-fluid" style="background-color: white">

  <!--  <button class="btn btn-warning mb-3 float-right text-uppercase" *ngIf="userRoleStatus == 'Admin'"-->
  <!--          (click)="onAddOrder()"><i class="fa fa-plus"></i> Add Order-->
  <!--  </button>-->
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered row-border hover"
         style="width:100%">
    <thead class="text-center thead-dark">
    <tr>
      <th style="width:7%;">Order Number</th>
      <th>Order Time</th>
      <th>Order status</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let order of orders; let i = index">
      <tr class="text-center" data-toggle="collapse" [attr.data-target]="'#game4Details' + i" (click)="openCloseRow(order.appUserId, order.id)">
        <td style="width:7%;">{{order.id}}</td>
        <td>{{order.orderTime | date: formatDateTime}}</td>
        <td>{{order.orderStatus}}</td>

      </tr>


      <tr >
        <td></td>
        <td colspan="4">
          <table class="table table-striped" *ngIf="rowSelected==order.id">
            <thead class="text-center">
            <tr>
              <th style="width:7%;">Book of author id</th>
              <th style="width:15%;">Book name</th>
              <th style="width:15%;">Quantity</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr *ngFor="let items of orderInfo">
              <td style="width:7%;">{{items.boaId}}</td>
              <td style="width:15%;">{{items.bookname}}</td>
              <td style="width:15%;">{{items.quantity}}</td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
