<!-- LOGIN SECTION -->
<section class="login-block">
  <!-- ALERT  WARNING START -->
  <div class="text-center mb-3 alert alert-warning alert-dismissible" *ngIf="invalidLogin"  role="alert">
    <strong>{{ErrorMessage}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div><!-- ALERT  WARNING END -->

  <!-- LOGIN CONTAINER START -->
  <div class="container signLog">
    <div class="row">

      <!-- LOGIN COLUMN START -->
      <div class="col-md-4 login-sec">
        <h2 class="text-center">Login Now</h2>
        <!-- LOGIN FORM START -->
        <form class="login-form form" [formGroup]="insertForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="UserName" class="text-uppercase">Username</label>
            <input formControlName="Username" type="text" class="form-control" placeholder="" required autofocus >
            <div *ngIf="Username.touched && Username.errors"
                 class="errorMessage">
              <span *ngIf="Username.hasError('required')">Username is required.</span>
            </div>
          </div>

          <div class="form-group">
            <label for="Password" class="text-uppercase">Password</label>
            <input formControlName="Password" type="password" class="form-control" placeholder="" required autofocus>
            <div *ngIf="Password.touched && Password.errors"
                 class="errorMessage">
              <span *ngIf="Password.hasError('required')">Password is required.</span>
            </div>
          </div>


          <mat-checkbox [formControl]="RememberMe" id="rememberMe" >Remember me</mat-checkbox>

          <input type="submit" class="btn btn-login btn-block" value="Submit" [disabled]="insertForm.invalid"/>

        </form><!-- LOGIN FORM END -->

        <div class="forgot-pass-text">Forgot password ? <i class="fa fa-key"></i> <a [routerLink]='["/forgotpassword"]' href="#"> Recover</a></div>

        <div class="register-text">Don't have an account ? <i class="fa fa-user-plus"></i> <a [routerLink]='["/register"]' href="#"> Sign Up</a></div>

        <!--        <div class="copy-text">JWT Authentication <i class="fa fa-user-secret"></i> by <a href="http://techhowdy.com">Techhowdy.com</a></div>-->
      </div> <!-- LOGIN SECTION END -->
      <!-- CAROUSEL COLUMN START -->
      <div class="col-md-8 banner-sec">

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="assets/images/image1.jpg" alt="First slide">
              <div class="after"></div>
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>JSON Web Token (JWT)</h2>
                  <p>JSON Web Token (JWT) is an open standard (RFC 7519) that defines a compact and self-contained way
                    for securely transmitting information between parties as a JSON object. </p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="assets/images/image2.jpg" alt="First slide">
              <div class="after"></div>
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>ASP.NET Core 2.2 Web API</h2>
                  <p>JWTs can be encrypted to also provide secrecy between parties, we will focus on signed tokens.</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="assets/images/image3.jpeg" alt="First slide">
              <div class="after"></div>
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>ANGULAR 8</h2>
                  <p>Signed tokens can verify the integrity of the claims contained within it, while encrypted tokens
                    hide those claims from other parties. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- CAROUSEL COLUMN START -->
    </div>
  </div> <!-- LOGIN CONTAINER END -->
</section>
