<div class="container-fluid" style="background-color: white">

  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered row-border hover"
         style="width:100%">
    <thead class="text-center thead-dark">
    <tr>
      <th>Id</th>
      <th>User Id</th>
      <th>Book of author Id/Book name</th>
      <th>Comment text</th>
<!--      <th>Rating</th>-->
      <th>Comment time</th>
      <th>Viewed By</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let comment of comments; let i = index" class="text-center">
      <td>{{comment.id}}</td>
      <td>{{comment.appUserId}} / {{userName[i]}}</td>
      <td>{{comment.boaId}} // {{authorname[i]}} // {{bookname[i]}}</td>
      <td>{{comment.text}}</td>
<!--      <td>{{comment.rating}}</td>-->
      <td>{{comment.commentTime | date: formatDateTime}}</td>
      <td>{{comment.viewedBy}}</td>
      <td>
        <div class="btn-group mt-2" role="group">
          <button type="button" class="btn btn-primary" *ngIf="userRoleStatus.indexOf('Admin') !== -1 || userRoleStatus.indexOf('Librarian') !== -1"
                  (click)="onUpdateModal(comment)"><i class="fas fa-edit"></i></button>
          <button type="button" class="btn btn-danger" *ngIf="userRoleStatus.indexOf('Admin') !== -1 || userRoleStatus.indexOf('Librarian') !== -1" (click)="onDelete(comment)"><i
            class="fas fa-trash-alt"></i></button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<!-- EDIT BOOK MODAL START-->

<ng-template #editTemplate>
  <div class="modal-header">
    <h4 class="modal-title">EDIT COMMENT DETAILS</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p class="list-group-item active text-center text-uppercase">{{modalMessage}}</p>
    <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
      <ul class="list-group">
        <li class="list-group-item" [hidden]="_id">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="commentId"><i class="fa fa-key"></i></span>
            </div>
            <input type="text" class="form-control" formControlName="id"/>
          </div>

        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="text"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="text" formControlName="text" class="form-control" placeholder="Some comment"
                   aria-label="text" aria-describedby="text">
          </div>
          <div *ngIf="_text.touched && _text.errors" class="errorMessage">
            <span *ngIf="_text.hasError('required')">Comment is required.</span>
          </div>
        </li>

<!--        <li class="list-group-item">-->
<!--          <div class="input-group">-->
<!--            <div class="input-group-prepend">-->
<!--              <span class="input-group-text" id="rating"><i class="fa fa-pencil-square-o"></i></span>-->
<!--            </div>-->
<!--            <input type="number" id="rating" formControlName="rating" class="form-control" min="0" max="5" placeholder="0-5" aria-label="rating" aria-describedby="rating">-->
<!--          </div>-->
<!--        </li>-->


        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="viewedBy"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <mat-select value="{{_viewedBy}}" formControlName="viewedBy" class="form-control">
              <mat-option value="">Not checked yet</mat-option>
              <mat-option value="{{userIdAsNumber}}">This comment is checked by me</mat-option>
            </mat-select>
          </div>
        </li>

        <li class="list-group-item">
          <button [disabled]="updateForm.invalid" class="btn btn-primary btn-block">UPDATE</button>
        </li>
      </ul>

    </form>

  </div>
</ng-template>

<!-- EDIT BOOK MODAL END-->
