<div class="container-fluid" style="background-color: white">

  <button class="btn btn-warning mb-3 float-right text-uppercase" *ngIf="userRoleStatus.indexOf('Admin') !== -1 || userRoleStatus.indexOf('Librarian') !== -1"
          (click)="onAddBookImage()"><i class="fa fa-plus"></i> Add BookImage
  </button>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered row-border hover"
         style="width:100%">
    <thead class="text-center thead-dark">
    <tr>
      <th>Id</th>
      <th>Image</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let bookImage of bookImages" class="text-center">
      <td>{{bookImage.id}}</td>
      <td><img [src]= "bookImage.image" style="max-width:250px;max-height:250px" class="img-thumbnail"></td>
      <td>
        <div class="btn-group mt-2" role="group">
          <button type="button" class="btn btn-primary" *ngIf="userRoleStatus.indexOf('Admin') !== -1 || userRoleStatus.indexOf('Librarian') !== -1"
                  (click)="onUpdateModal(bookImage)"><i class="fas fa-edit"></i></button>
          <button type="button" class="btn btn-danger" *ngIf="userRoleStatus.indexOf('Admin') !== -1 || userRoleStatus.indexOf('Librarian') !== -1" (click)="onDelete(bookImage)"><i
            class="fas fa-trash-alt"></i></button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- ADD AVATAR MODAL START-->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title">ADD NEW BOOK IMAGE</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p class="list-group-item active text-center text-uppercase">{{modalMessage}}</p>
    <form [formGroup]="insertForm" (ngSubmit)="onSubmit()">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="input-group">
            <div class="image-upload">
              <img *ngIf="hasImage" [src]="imageSrc" style="max-width:300px;max-height:300px"/>
              <img *ngIf="!hasImage" alt="Book Pic"
                   src="assets/images/book_unnamed.png"
                   id="profile-image1" class="img-circle img-responsive">
              <input name="imageUrl" type="file" accept="image/*" (change)="handleInputChange($event)" />
            </div>
          </div>
          <div class="errorMessage" *ngIf="_image.touched && _image.errors && !hasImage">
            <span *ngIf="_image.hasError('required')">BookImage image is required.</span>
          </div>
        </li>

        <li class="list-group-item">
          <button [disabled]="insertForm.invalid"  class="btn btn-primary btn-block">ADD</button>
        </li>
      </ul>

    </form>

  </div>
</ng-template>

<!-- ADD AVATAR MODAL START-->


<!-- EDIT AVATAR MODAL START-->

<ng-template #editTemplate>
  <div class="modal-header">
    <h4 class="modal-title">EDIT AVATAR DETAILS</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p class="list-group-item active text-center text-uppercase">{{modalMessage}}</p>
    <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
      <ul class="list-group">
        <li class="list-group-item" [hidden]="_id">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="bookImageId"><i class="fa fa-key"></i></span>
            </div>
            <input type="text" class="form-control" formControlName="id"/>
          </div>

        </li>

        <li class="list-group-item">
          <div class="input-group">
            <div class="image-upload">
              <img  [src]="_image.value" style="max-width:300px;max-height:300px"/>
              <input name="imageUrl" type="file" accept="image/*" (change)="handleInputChange($event)" />
            </div>
          </div>
          <div class="errorMessage" *ngIf="_image.touched && _image.errors && !hasImage">
            <span *ngIf="_image.hasError('required')">BookImage image is required.</span>
          </div>
        </li>

        <li class="list-group-item">
          <button [disabled]="updateForm.invalid" class="btn btn-primary btn-block">UPDATE</button>
        </li>
      </ul>

    </form>

  </div>
</ng-template>

<!-- EDIT AVATAR MODAL END-->
