<div class="container-fluid" style="background-color: white">

  <button class="btn btn-warning mb-3 float-right text-uppercase" *ngIf="userRoleStatus.indexOf('Admin') !== -1 || userRoleStatus.indexOf('Librarian') !== -1"
          (click)="onAddBookOfAuthorIds()"><i class="fa fa-plus"></i> Add Book of Author
  </button>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered row-border hover"
         style="width:100%">
    <thead class="text-center thead-dark">
    <tr>
      <th>Id</th>
      <th>Author Id / Author name</th>
      <th>Book Id / Book name</th>
      <th>Image Id</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let bookOfAuthorIds of bookOfAuthorIds; let i = index" class="text-center">
      <td>{{bookOfAuthorIds.id}}</td>
      <td>{{bookOfAuthorIds.authorId}} / {{authorName[i]}}</td>
      <td>{{bookOfAuthorIds.bookId}} / {{bookName[i]}}</td>
      <td>{{bookOfAuthorIds?.imageId}} / <img [src]="bookImageStr[i]" style="max-width:130px;max-height:200px" alt="imageId">
      <td>
        <div class="btn-group mt-2" role="group">
          <!--          <button type="button" class="btn btn-success" (click)="onSelect(bookOfAuthorIds)"><i class="fas fa-list"></i></button>-->
          <button type="button" class="btn btn-primary" *ngIf="userRoleStatus.indexOf('Admin') !== -1 || userRoleStatus.indexOf('Librarian') !== -1"
                  (click)="onUpdateModal(bookOfAuthorIds)"><i class="fas fa-edit"></i></button>
          <button type="button" class="btn btn-danger" *ngIf="userRoleStatus.indexOf('Admin') !== -1 || userRoleStatus.indexOf('Librarian') !== -1"
                  (click)="onDelete(bookOfAuthorIds)"><i
            class="fas fa-trash-alt"></i></button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- ADD BOOK MODAL START-->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title">ADD NEW BOOK</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p class="list-group-item active text-center text-uppercase">{{modalMessage}}</p>
    <form [formGroup]="insertForm" (ngSubmit)="onSubmit()">
      <ul class="list-group">

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="authorId"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <!--            <input type="text" id="authorId" formControlName="authorId" class="form-control" placeholder="eg: 1" aria-label="authorId" aria-describedby="authorId">-->
            <mat-select formControlName="authorId" class="form-control">
              <mat-option *ngFor="let a of author" [value]="a.id">{{a.id}} {{a.name}}</mat-option>
            </mat-select>
          </div>
          <div class="errorMessage" *ngIf="authorId.touched && authorId.errors">
            <span *ngIf="authorId.hasError('required')">Author Id is required.</span>
          </div>
        </li>

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="bookId"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <!--            <input type="text" id="bookId" formControlName="bookId" class="form-control" placeholder="eg: 2" aria-label="bookId" aria-describedby="bookId">-->
            <mat-select formControlName="bookId" class="form-control">
              <mat-option *ngFor="let b of book" [value]="b.id">{{b.id}} {{b.bookName}}</mat-option>
            </mat-select>
          </div>
          <div class="errorMessage" *ngIf="bookId.touched && bookId.errors">
            <span *ngIf="bookId.hasError('required')">Book Id is required.</span>
          </div>
        </li>

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="imageId"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <!--            <input type="text" id="imageId" formControlName="imageId" class="form-control" placeholder="eg: 3" aria-label="imageId" aria-describedby="bookReview">-->

            <mat-select formControlName="imageId" class="form-control">
              <mat-option style="height: 200px" *ngFor="let bi of bookImage" [value]="bi.id">{{bi.id}} <img
                [src]="bi.image" style="max-width:130px;max-height:200px"></mat-option>
            </mat-select>
          </div>
          <!--          <div class="errorMessage" *ngIf="imageId.touched && imageId.errors">-->
          <!--            <span *ngIf="imageId.hasError('required')">Image Id is required.</span>-->
          <!--          </div>-->
        </li>


        <li class="list-group-item">
          <button [disabled]="insertForm.invalid" class="btn btn-primary btn-block">ADD</button>
        </li>
      </ul>

    </form>

  </div>
</ng-template>

<!-- ADD BOOK MODAL START-->


<!-- EDIT BOOK MODAL START-->

<ng-template #editTemplate>
  <div class="modal-header">
    <h4 class="modal-title">EDIT BOOK DETAILS</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p class="list-group-item active text-center text-uppercase">{{modalMessage}}</p>
    <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
      <ul class="list-group">
        <li class="list-group-item" [hidden]="_id">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="bookId"><i class="fa fa-key"></i></span>
            </div>
            <input type="text" class="form-control" formControlName="id"/>
          </div>

        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="_authorId"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <!--            <input type="text" id="_authorId" formControlName="authorId" class="form-control" placeholder="eg: 1"-->
            <!--                   aria-label="authorId" aria-describedby="authorId">-->
            <mat-select formControlName="authorId" class="form-control">
              <mat-option *ngFor="let a of author" [value]="a.id">{{a.id}} {{a.name}}</mat-option>
            </mat-select>
          </div>
          <div *ngIf="_authorId.touched && _authorId.errors" class="errorMessage">
            <span *ngIf="_authorId.hasError('required')">Author Id is required.</span>
          </div>
        </li>

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="bookId"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <!--            <input type="text" id="_bookId" formControlName="bookId" class="form-control" placeholder="eg: 2" aria-label="_bookId" aria-describedby="_bookId">-->
            <mat-select formControlName="bookId" class="form-control">
              <mat-option *ngFor="let b of book" [value]="b.id">{{b.id}} {{b.bookName}}</mat-option>
            </mat-select>
          </div>
          <div class="errorMessage" *ngIf="_bookId.touched && _bookId.errors">
            <span *ngIf="_bookId.hasError('required')">Book Id is required.</span>
          </div>
        </li>

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="imageId"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <!--            <input type="text" id="imageId" formControlName="imageId" class="form-control" placeholder="eg: 3" aria-label="imageId" aria-describedby="imageId">-->
            <mat-select formControlName="imageId" class="form-control">
              <mat-option style="height: 200px" *ngFor="let bi of bookImage" [value]="bi.id">{{bi.id}} <img
                [src]="bi.image" style="max-width:130px;max-height:200px"></mat-option>
            </mat-select>
          </div>
          <!--          <div class="errorMessage" *ngIf="_imageId.touched && _imageId.errors">-->
          <!--            <span *ngIf="_imageId.hasError('required')">Image Id is required.</span>-->
          <!--          </div>-->
        </li>

        <li class="list-group-item">
          <button [disabled]="updateForm.invalid" class="btn btn-primary btn-block">UPDATE</button>
        </li>
      </ul>

    </form>

  </div>
</ng-template>

<!-- EDIT BOOK MODAL END-->
