<div *ngIf="cartInfo === null || cartInfo.length===0"
     class="alert alert-info">
  Your Cart is Empty.
</div>
<div *ngIf="cartInfo !== null && cartInfo.length !== 0">
  <button class="btn btn-lg btn-outline-danger text-uppercase ml-2" (click)="clearCart()"
          style="position: relative; right: auto; height: 46px; font-size: 14px">
    <i class="fas fa-trash-alt">

    </i> Clear cart
  </button>
</div>
<!--<ng-container *ngIf="(cartInfo$ | async) as cartInfo">-->
<!--  <ul *ngIf="cartInfo !== null" class="list-group" style="width: 400px;">-->
<!--    <div class="container-fluid" style="background-color: white">-->

<!--      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered row-border hover"-->
<!--             style="width:100%">-->
<!--        <thead class="text-center thead-dark">-->
<!--        <tr>-->
<!--        <tr>-->
<!--          <th>Book name</th>-->
<!--          <th>Quantity</th>-->
<!--          <th>Actions</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr *ngFor="let item of cartInfo; let i = index" class="text-center">-->

<!--          <td>{{item.bookname}}</td>-->
<!--          <td>{{item.quantity}}</td>-->
<!--          <td>-->
<!--            <div class="btn-group mt-2" role="group">-->
<!--              <button type="button" class="btn btn-danger" (click)="onDelete(item.id)"><i-->
<!--                class="fas fa-trash-alt"></i></button>-->
<!--            </div>-->
<!--          </td>-->

<!--        </tr>-->
<!--        </tbody>-->

<!--      </table>-->
<!--    </div>-->
<!--  </ul>-->
<!--</ng-container>-->


<ul *ngIf="cartInfo !== null && cartInfo.length !== 0" class="list-group" style="width: 450px;">

  <div class="row" *ngFor="let item of cartInfo; let i = index">
    <div class="column" style="max-width: 350px">
      <li class="list-group-item" style="font-size: 14px; width: 350px">
        <div>{{item.name}} - {{item.bookname}}</div>
    </div>
    <div class="column" ngForm>
      <li>
        <div>
          <!--          {{item1}}-->
          <input type="number" #quantityHTML id="quantity-{{i}}" name="quantity" min="1" value="{{item.quantity}}"
                 (click)="applyNewQuantity(item.id, i)"
                 style="position: relative; left: auto; width: 46px; height: 46px;">
        </div>

    </div>
    <div class="column">
      <li id="currentId">
        <!--        <button type="button" class="btn btn-success"-->
        <!--                style="position: relative; left: auto; width: 46px; height: 46px; border: 2px solid #000000;"-->
        <!--                (click)="applyNewQuantity(i)"><i class="fas fa-sync"></i></button>-->
        <button type="button" class="btn btn-danger btn-xs"
                style="position: relative; left: auto; width: 46px; height: 46px; border: 2px solid #000000;"
                (click)="onDelete(item.id, i)">
          <i class="fas fa-trash-alt fa-sm"></i></button>

    </div>
  </div>
</ul>


<div *ngIf="cartInfo !== null && cartInfo.length !== 0" align="right">
  <button class="btn btn-lg btn-outline-success text-uppercase ml-2"
          style="position: relative; right: auto; height: 46px; width: 140px; font-size: 14px" (click)="checkout()">

    <i class="fas fa-shopping-basket">

    </i> Checkout
  </button>
</div>

<!--<ul *ngIf="cartInfo !== null" class="list-group" style="width: 400px;">-->

<!--</ul>-->

