<div class="container-fluid" style="background-color: white">

  <button class="btn btn-warning mb-3 float-right text-uppercase" *ngIf="userRoleStatus.indexOf('Admin') !== -1 || this.userRoleStatus.indexOf('Librarian')"
          (click)="onAddAuthor()"><i class="fa fa-plus"></i> Add Author
  </button>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered row-border hover"
         style="width:100%">
    <thead class="text-center thead-dark">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let author of authors" class="text-center">
      <td>{{author.id}}</td>
      <td>{{author.name}}</td>
      <td>
        <div class="btn-group mt-2" role="group">
<!--          <button type="button" class="btn btn-success" (click)="onSelect(author)"><i class="fas fa-list"></i></button>-->
          <button type="button" class="btn btn-primary" *ngIf="userRoleStatus.indexOf('Admin') !== -1 || this.userRoleStatus.indexOf('Librarian')"
                  (click)="onUpdateModal(author)"><i class="fas fa-edit"></i></button>
          <button type="button" class="btn btn-danger" *ngIf="userRoleStatus.indexOf('Admin') !== -1 || this.userRoleStatus.indexOf('Librarian')" (click)="onDelete(author)"><i
            class="fas fa-trash-alt"></i></button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- ADD AUTHOR MODAL START-->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title">ADD NEW AUTHOR</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p class="list-group-item active text-center text-uppercase">{{modalMessage}}</p>
    <form [formGroup]="insertForm" (ngSubmit)="onSubmit()">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="authorTitle"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="name" formControlName="name" class="form-control" placeholder="eg: Taras Shevchenko" aria-label="name" aria-describedby="authorTitle">
          </div>
          <div class="errorMessage" *ngIf="name.touched && name.errors">
            <span *ngIf="name.hasError('required')">Author Name is required.</span>
            <span *ngIf="name.hasError('pattern')">First letter must be uppercase</span>
          </div>
        </li>

        <li class="list-group-item">
          <button [disabled]="insertForm.invalid"  class="btn btn-primary btn-block">ADD</button>
        </li>
      </ul>

    </form>

  </div>
</ng-template>

<!-- ADD AUTHOR MODAL START-->


<!-- EDIT AUTHOR MODAL START-->

<ng-template #editTemplate>
  <div class="modal-header">
    <h4 class="modal-title">EDIT AUTHOR DETAILS</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p class="list-group-item active text-center text-uppercase">{{modalMessage}}</p>
    <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
      <ul class="list-group">
        <li class="list-group-item" [hidden]="_id">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="authorId"><i class="fa fa-key"></i></span>
            </div>
            <input type="text" class="form-control" formControlName="id"/>
          </div>

        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="authorTitle"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="name" formControlName="name" class="form-control" placeholder="eg: Taras Shevchenko"
                   aria-label="name" aria-describedby="authorTitle">
          </div>
          <div *ngIf="_name.touched && _name.errors" class="errorMessage">
            <span *ngIf="_name.hasError('required')">Name is required.</span>
            <span *ngIf="_name.hasError('pattern')">Name must start with uppercase.</span>
          </div>
        </li>

        <li class="list-group-item">
          <button [disabled]="updateForm.invalid" class="btn btn-primary btn-block">UPDATE</button>
        </li>
      </ul>

    </form>

  </div>
</ng-template>

<!-- EDIT AUTHOR MODAL END-->
