<div class="container-fluid" style="background-color: white">

<!--  <button class="btn btn-warning mb-3 float-right text-uppercase" *ngIf="userRoleStatus == 'Admin'"-->
<!--          (click)="onAddOrder()"><i class="fa fa-plus"></i> Add Order-->
<!--  </button>-->
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered row-border hover"
         style="width:100%">
    <thead class="text-center thead-dark">
    <tr>
      <th style="width:7%;">Id</th>
      <th style="width:7%;">User Id / Username</th>
      <th>Order Time</th>
      <th>Order status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let order of orders; let i = index">
      <tr data-toggle="collapse" [attr.data-target]="'#game4Details' + i" (click)="openCloseRow(order.id)">
        <td style="width:7%;">{{order.id}}</td>
        <td style="width:7%;">{{order.appUserId}} / {{userName[i]}}</td>
        <td>{{order.orderTime | date: formatDateTime}}</td>
<!--        | date: formatDateTime-->
        <td>{{order.orderStatus}}</td>
        <td>
          <div class="btn-group mt-2" role="group">
            <!--          <button type="button" class="btn btn-success" (click)="onSelect(order)"><i class="fas fa-list"></i></button>-->
            <button type="button" class="btn btn-primary" *ngIf="userRoleStatus.indexOf('Admin') !== -1 || userRoleStatus.indexOf('Librarian') !== -1"
                    (click)="onUpdateModal(order)"><i class="fas fa-edit"></i></button>
            <button type="button" class="btn btn-danger" *ngIf="userRoleStatus.indexOf('Admin') !== -1 || userRoleStatus.indexOf('Librarian') !== -1" (click)="onDelete(order)"><i
              class="fas fa-trash-alt"></i></button>
          </div>
        </td>
      </tr>


      <tr >
        <td></td>
        <td colspan="5">
          <table  class="table table-striped" *ngIf="rowSelected==order.id">
            <thead >
            <tr>
              <th style="width:7%;">Id</th>
              <th style="width:15%;">Book of author Id / Book name</th>
              <th style="width:15%;">Quantity</th>
              <th style="width:15%;">Get Time</th>
<!--              <th style="width:15%;">Actions</th>-->
            </tr>
            </thead>
            <tbody >
            <tr *ngFor="let items of orderInfo;">
              <td style="width:7%;">{{items.id}}</td>
              <td style="width:15%;">{{items.boaId}} / {{items.bookname}}</td>
              <td style="width:15%;">{{items.quantity}}</td>
              <td style="width:15%;">{{items.getTime | date: formatDateTime}}</td>
<!--              <td>-->
<!--                <div class="btn-group mt-2" role="group">-->
<!--                  <button type="button" class="btn btn-primary" *ngIf="userRoleStatus.indexOf('Admin') !== -1 || userRoleStatus.indexOf('Librarian') !== -1"-->
<!--                          (click)="onUpdateModalItem(items)"><i class="fas fa-edit"></i></button>-->
<!--                  <button type="button" class="btn btn-danger" *ngIf="userRoleStatus.indexOf('Admin') !== -1 || userRoleStatus.indexOf('Librarian') !== -1" (click)="onDeleteItem(items)"><i-->
<!--                    class="fas fa-trash-alt"></i></button>-->
<!--                </div>-->
<!--              </td>-->
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>


<!-- EDIT ORDER MODAL START-->

<ng-template #editTemplate>
  <div class="modal-header">
    <h4 class="modal-title">EDIT ORDER DETAILS</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p class="list-group-item active text-center text-uppercase">{{modalMessage}}</p>
    <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
      <ul class="list-group">
        <li class="list-group-item" [hidden]="_id">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="orderId"><i class="fa fa-key"></i></span>
            </div>
            <input type="text" class="form-control" formControlName="id"/>
          </div>

        </li>

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="avatarAppUserId"><i class="fa fa-pencil-square-o"></i></span>
            </div>
<!--            <input type="text" id="appUserId" formControlName="appUserId" class="form-control" placeholder="eg: Some id"-->
<!--                   aria-label="AppUserId" aria-describedby="avatarAppUserId">-->
            <mat-select formControlName="appUserId" class="form-control">
              <mat-option *ngFor="let p of profile" [value]="p.id">{{p.id}} {{p.userName}}</mat-option>
            </mat-select>
          </div>
          <div class="errorMessage" *ngIf="_appUserId.touched && _appUserId.errors">
            <span *ngIf="_appUserId.hasError('required')">UserId is required.</span>
          </div>
        </li>

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="orderStatus"><i class="fa fa-pencil-square-o"></i></span>
            </div>
<!--            <input type="text" id="orderStatus" formControlName="orderStatus" class="form-control"-->
<!--                   placeholder="eg: Some order status" aria-label="orderStatus" aria-describedby="orderStatus">-->
<!--            <mat-label>Select an option</mat-label>-->
            <mat-select value="{{_orderStatus}}" formControlName="orderStatus" class="form-control">
              <mat-option value="{{newOrder}}">{{newOrder}}</mat-option>
              <mat-option value="{{ready}}">{{ready}}</mat-option>
              <mat-option value="{{finished}}">{{finished}}</mat-option>
            </mat-select>
          </div>
          <div class="errorMessage" *ngIf="_orderStatus.touched && _orderStatus.errors">
            <span *ngIf="_orderStatus.hasError('required')">Order status is required.</span>
          </div>
        </li>

        <li class="list-group-item">
          <button [disabled]="updateForm.invalid" class="btn btn-primary btn-block">UPDATE</button>
        </li>
      </ul>

    </form>

  </div>
</ng-template>

<!-- EDIT ORDER MODAL END-->

<ng-template #editTemplateItem>
  <div class="modal-header">
    <h4 class="modal-title">EDIT ORDER ITEM DETAILS</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p class="list-group-item active text-center text-uppercase">{{modalMessage}}</p>
    <form [formGroup]="updateFormItems" (ngSubmit)="onUpdateItem()">
      <ul class="list-group">
        <li class="list-group-item" [hidden]="_idO">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="id"><i class="fa fa-key"></i></span>
            </div>
            <input type="text" class="form-control" formControlName="id"/>
          </div>

        </li>


        <li class="list-group-item">
          <label>Quantity</label>
          <div class="input-group">
            <div class="input-group-prepend">

              <span class="input-group-text" id="quantity"><i class="fa fa-pencil-square-o"></i></span>
            </div>
              <input type="number" id="quantity" style="text-align: center;" formControlName="quantity" class="form-control" min="1" placeholder="eg: Some quantity"
                   aria-label="quantity" aria-describedby="quantity">
          </div>
          <div class="errorMessage" *ngIf="_quantity.touched && _quantity.errors">
            <span *ngIf="_quantity.hasError('required')">quantity is required.</span>
          </div>
        </li>

        <li class="list-group-item">
          <button class="btn btn-primary btn-block">UPDATE</button>
        </li>
      </ul>

    </form>

  </div>
</ng-template>

<ng-template #errorTemplate>
  <div class="modal-header alert-danger">
    <h4 class="modal-title">Attention!</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body alert-danger text-center">
    <p class="list-group-item list-group-item-danger text-center text-uppercase">{{modalMessageErr}}</p>

  </div>
</ng-template>
