<mat-grid-list cols="0" rowHeight="30px" style="margin-left: 1130px">

    <mat-grid-tile>
      <mat-card class="example-filter no-line">
        <mat-form-field>
          <mat-label> Sort by: </mat-label>
          <mat-select #selectedSort>
            <mat-option value="name">Sort by author name</mat-option>
            <mat-option value="bookname">Sort by book name</mat-option>
            <mat-option value="genre">Sort by genre</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>
    </mat-grid-tile>

</mat-grid-list>

<mat-grid-list cols="4" rowHeight="500px">

  <mat-grid-tile *ngFor="let bookOfAuthor of sortBy(selectedSort.value) | myfilter: searchByKeyword | paginate: { itemsPerPage: 8, currentPage: p }; let i = index"
                 (mouseenter)="toggleHover(i)" (mouseleave)="removeHover(i)">
    <mat-card class="example-card" >

      <a href="#" [routerLink]="[bookOfAuthor.id]" routerLinkActive="active-link">
        <img mat-card-image src="{{ bookOfAuthor.image }}" >
      </a>

      <mat-card-header>
        <mat-card-title>
          <a (click)="onSelect(bookOfAuthor)" href="#" [routerLink]="[bookOfAuthor.id]" routerLinkActive="active-link" class="bookname">
            {{bookOfAuthor.bookname }}
          </a></mat-card-title>
        <mat-card-subtitle>{{ bookOfAuthor.name}}</mat-card-subtitle>
        <mat-card-subtitle>{{ bookOfAuthor.genre}}</mat-card-subtitle>
<!--        <mat-card-subtitle [style.overflow]="'auto'" [style.width.px]="'165'" [style.height.px]="'100'" *ngIf="hoveredElement == i">{{ bookOfAuthor.short_review}}</mat-card-subtitle>-->
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>

<div id="myPaginator">
  <pagination-controls  (pageChange)="p = $event"></pagination-controls>
</div>

