@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

::ng-deep .mat-card-content {
  width: 50%;
}

::ng-deep .mat-card {
  object-fit: cover;
  max-height: 600px;
  max-width: 200px;
}

::ng-deep .mat-card-title {
  font-size: 14px !important;
  font-weight: bold !important;
}

::ng-deep .mat-grid-list{
  object-fit: cover;
}

::ng-deep .mat-card-content{
  object-fit: cover;
  width: 100%;
}

::ng-deep .mat-card-image{
  object-fit: cover;
}

::ng-deep .no-line .mat-form-field-underline {
  display: none;
}

.sidebar {
  width: 150px;
  background: #ECF5E4;
  border-right: 1px solid #231F20;
  top: 82px; /* Расстояние от верхнего края */
  bottom: 0; /* Расстояние снизу  */
  overflow: auto; padding: 10px;
}

.example-filter{
  width: 200px;
}

.bookname {
  color: #000000;
}

#myPaginator{
  color: white;
  background-color: #562a23;
  height: 30px;
}
