<div class="container-fluid" style="background-color: white">

  <button class="btn btn-warning mb-3 float-right text-uppercase" *ngIf="userRoleStatus.indexOf('Admin') !== -1 || userRoleStatus.indexOf('Librarian') !== -1"
          (click)="onAddReturnedBook()"><i class="fa fa-plus"></i> Add Returned Book
  </button>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered row-border hover"
         style="width:100%">
    <thead class="text-center thead-dark">
    <tr>
      <th>Id</th>
      <th>User Id</th>
      <th>Book of author Id</th>
      <th>Quantity</th>
      <th>Return time</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let returnedBook of returnedBooks; let i = index" class="text-center">
      <td>{{returnedBook.id}}</td>
      <td>{{returnedBook.appUserId}} / {{userName[i]}}</td>
      <td>{{returnedBook.boaId}} // {{authorname[i]}} // {{bookname[i]}}</td>
      <td>{{returnedBook.quantity}}</td>
      <td>{{returnedBook.returnTime | date: formatDateTime}}</td>
      <td>
        <div class="btn-group mt-2" role="group">
          <!--          <button type="button" class="btn btn-success" (click)="onSelect(returnedBook)"><i class="fas fa-list"></i></button>-->
          <button type="button" class="btn btn-primary" *ngIf="userRoleStatus.indexOf('Admin') !== -1 || userRoleStatus.indexOf('Librarian') !== -1"
                  (click)="onUpdateModal(returnedBook)"><i class="fas fa-edit"></i></button>
          <button type="button" class="btn btn-danger" *ngIf="userRoleStatus.indexOf('Admin') !== -1 || userRoleStatus.indexOf('Librarian') !== -1"
                  (click)="onDelete(returnedBook)"><i
            class="fas fa-trash-alt"></i></button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- ADD BOOK MODAL START-->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title">ADD NEW Returned book</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p class="list-group-item active text-center text-uppercase">{{modalMessage}}</p>
    <form [formGroup]="insertForm" (ngSubmit)="onSubmit()">
      <ul class="list-group">

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="appUserId"><i class="fa fa-pencil-square-o"></i></span>
            </div>
<!--            <input type="text" id="appUserId" formControlName="appUserId" class="form-control" placeholder="User id"-->
<!--                   aria-label="appUserId" aria-describedby="appUserId">-->
            <mat-select formControlName="appUserId" class="form-control">
              <mat-option *ngFor="let p of profile" [value]="p.id">{{p.id}} {{p.userName}}</mat-option>
            </mat-select>
          </div>
          <div class="errorMessage" *ngIf="appUserId.touched && appUserId.errors">
            <span *ngIf="appUserId.hasError('required')">User id is required.</span>
          </div>
        </li>

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="boaId"><i class="fa fa-pencil-square-o"></i></span>
            </div>
<!--            <input type="text" id="boaId" formControlName="boaId" class="form-control" placeholder="Book of author id"-->
<!--                   aria-label="boaId" aria-describedby="boaId">-->
            <mat-select formControlName="boaId" class="form-control">
              <mat-option *ngFor="let boa of bookOfAuthor" [value]="boa.id">{{boa.id}} // {{boa.name}} // {{boa.bookname}}</mat-option>
            </mat-select>
          </div>
          <div class="errorMessage" *ngIf="boaId.touched && boaId.errors">
            <span *ngIf="boaId.hasError('required')">Book of author id is required.</span>
          </div>
        </li>

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="quantity"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="quantity" formControlName="quantity" class="form-control" placeholder="Quantity"
                   aria-label="quantity" aria-describedby="quantity">
          </div>
          <div class="errorMessage" *ngIf="quantity.touched && quantity.errors">
            <span *ngIf="quantity.hasError('required')">Quantity is required.</span>
            <span *ngIf="quantity.hasError('pattern')">Only integer numbers are allowed. </span>
            <span *ngIf="quantity.hasError('min')">At least one book must be returned. </span>
          </div>
        </li>

        <li class="list-group-item">
          <button [disabled]="insertForm.invalid" class="btn btn-primary btn-block">ADD</button>
        </li>
      </ul>

    </form>

  </div>
</ng-template>

<!-- ADD BOOK MODAL START-->


<!-- EDIT BOOK MODAL START-->

<ng-template #editTemplate>
  <div class="modal-header">
    <h4 class="modal-title">EDIT BOOK DETAILS</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p class="list-group-item active text-center text-uppercase">{{modalMessage}}</p>
    <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
      <ul class="list-group">
        <li class="list-group-item" [hidden]="_id">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="returnedBookId"><i class="fa fa-key"></i></span>
            </div>
            <input type="text" class="form-control" formControlName="id"/>
          </div>
        </li>


        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="appUserId"><i class="fa fa-pencil-square-o"></i></span>
            </div>
<!--            <input type="text" id="appUserId" formControlName="appUserId" class="form-control" placeholder="User id"-->
<!--                   aria-label="appUserId" aria-describedby="appUserId">-->
            <mat-select formControlName="appUserId" class="form-control">
              <mat-option *ngFor="let p of profile" [value]="p.id">{{p.id}} {{p.userName}}</mat-option>
            </mat-select>
          </div>
          <div class="errorMessage" *ngIf="_appUserId.touched && _appUserId.errors">
            <span *ngIf="_appUserId.hasError('required')">User id is required.</span>
          </div>
        </li>

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="boaId"><i class="fa fa-pencil-square-o"></i></span>
            </div>
<!--            <input type="text" id="boaId" formControlName="boaId" class="form-control" placeholder="Book of author id"-->
<!--                   aria-label="boaId" aria-describedby="boaId">-->
            <mat-select formControlName="boaId" class="form-control">
              <mat-option *ngFor="let boa of bookOfAuthor" [value]="boa.id">{{boa.id}} // {{boa.name}} // {{boa.bookname}}</mat-option>
            </mat-select>
          </div>
          <div class="errorMessage" *ngIf="_boaId.touched && _boaId.errors">
            <span *ngIf="_boaId.hasError('required')">Book of author id is required.</span>
          </div>
        </li>

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="quantity"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="quantity" formControlName="quantity" class="form-control" placeholder="Quantity"
                   aria-label="quantity" aria-describedby="quantity">
          </div>
          <div class="errorMessage" *ngIf="_quantity.touched && _quantity.errors">
            <span *ngIf="_quantity.hasError('required')">Quantity is required.</span>
            <span *ngIf="_quantity.hasError('pattern')">Only integer numbers are allowed. </span>
            <span *ngIf="_quantity.hasError('min')">At least one book must be returned. </span>
          </div>
        </li>

        <li class="list-group-item">
          <button [disabled]="updateForm.invalid" class="btn btn-primary btn-block">UPDATE</button>
        </li>
      </ul>

    </form>

  </div>
</ng-template>

<!-- EDIT BOOK MODAL END-->


<ng-template #errorTemplate>
  <div class="modal-header alert-danger">
    <h4 class="modal-title">Attention!</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body alert-danger text-center">
    <p class="list-group-item list-group-item-danger text-center text-uppercase">{{modalMessageErr}}</p>

  </div>
</ng-template>

<ng-template #errorTemplate2>
  <div class="modal-header alert-danger">
    <h4 class="modal-title">Attention!</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body alert-danger text-center">
    <p class="list-group-item list-group-item-danger text-center text-uppercase">{{modalMessageErr2}}</p>

  </div>
</ng-template>

<ng-template #errorTemplate3>
  <div class="modal-header alert-danger">
    <h4 class="modal-title">Attention!</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body alert-danger text-center">
    <p class="list-group-item list-group-item-danger text-center text-uppercase">{{modalMessageErr3}}</p>

  </div>
</ng-template>
