<div class="container-fluid form">
  <div class="row form-row ">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Forgot Password</h5>
          <div>
            <div id="errorMsg" *ngIf="errorMessage">
              <span>{{errorMessage}}</span>
            </div>
            <div id="successMsg" *ngIf="successMessage">
              <span>{{successMessage}}</span>
            </div>
            <form class="forgot-password-form" method="post" [formGroup]="insertForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="Email" class="text-uppercase">Email</label>
                <input formControlName="email" type="text" class="form-control" placeholder="" required autofocus>
                <div *ngIf="email.touched && email.errors"
                     class="errorMessage">
                  <span *ngIf="email.hasError('required')">Email is required.</span>
                </div>
              </div>
              <div class="form-group">
                <div>
                  <button type="submit" class=" btn btn-primary">Reset Password</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
