<div class="container-fluid form">
  <div class="row form-row ">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Reset Password</h5>
          <div>
            <div id="errorMsg" *ngIf="errorMessage">
              <span>{{errorMessage}}</span>
            </div>
            <div id="successMsg" *ngIf="successMessage">
              <span>{{successMessage}}</span>
            </div>
            <form class="reset-password-form" method="post" [formGroup]="insertForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="password" class="text-uppercase">Password</label>
                <input id="password" formControlName="password" type="password" class="form-control" placeholder=""
                       required [(ngModel)]="model.password">
                <div *ngIf="password.touched && password.errors" class="errorMessage">
                  <span *ngIf="password.hasError('required')">Password is required.</span>
                  <!--              <span *ngIf="password.hasError('maxlength')">Only 10 characters allowed for password.</span>-->
                  <span *ngIf="password.hasError('minlength')">Atleast 4 characters needed for password.</span>
                </div>
              </div>

              <div class="form-group">
                <label for="cpassword" class="text-uppercase">Confirm Password</label>
                <input id="cpassword" formControlName="cpassword" type="password" class="form-control" placeholder=""
                       required>
                <div *ngIf="cpassword.touched && cpassword.errors" class="errorMessage">
                  <span *ngIf="cpassword.hasError('required')">Confirm Password is required.</span>
                  <span *ngIf="cpassword.hasError('mustMatch')">Passwords must match.</span>
                </div>
              </div>

              <div class="form-group">
                <div>
                  <button type="submit" [disabled]="insertForm.invalid"  class=" btn btn-primary">Reset Password</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
