<header target="_parent">
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom mb-3">

    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" [routerLink]='["/"]'>Library Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
      <ul class="navbar-nav flex-grow-2">
        <li class="nav-item">
          <a class="nav-link text-light" [routerLink]='["/"]'>Home</a>
        </li>

        <li class="nav-item dropdown" *ngIf="(loginStatus$ | async) as loginStatus">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="loginStatus && userRoleStatus !== 'Reader' ">Admin panel</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" target="_parent" [routerLink]='["/profiles"]' *ngIf="loginStatus">Profiles</a>
            <a class="dropdown-item" target="_parent" [routerLink]='["/user-role"]' *ngIf="loginStatus && userRoleStatus == 'Admin'">User Role</a>
            <a class="dropdown-item" target="_parent" [routerLink]='["/comments"]' *ngIf="loginStatus">Comments <span class="badge badge-pill badge-danger">{{allCommentsCounter}}</span></a>
            <a class="dropdown-item" target="_parent" [routerLink]='["/avatars"]' *ngIf="loginStatus">Avatars</a>
            <a class="dropdown-item" target="_parent" [routerLink]='["/authors"]' *ngIf="loginStatus">Authors</a>
            <a class="dropdown-item" target="_parent" [routerLink]='["/books"]' *ngIf="loginStatus">Books</a>
            <a class="dropdown-item" target="_parent" [routerLink]='["/bookimages"]' *ngIf="loginStatus">Book images</a>
            <a class="dropdown-item" target="_parent" [routerLink]='["/bookofauthorids"]' *ngIf="loginStatus">Book of author Ids</a>
            <a class="dropdown-item" target="_parent" [routerLink]='["/bookofauthor"]' *ngIf="loginStatus">Book of author</a>
            <a class="dropdown-item" target="_parent" [routerLink]='["/orders"]' *ngIf="loginStatus">Orders <span class="badge badge-pill badge-danger">{{allOrdersCounter}}</span></a>  <!--<sup></sup>-->
            <a class="dropdown-item" target="_parent" [routerLink]='["/stocks"]' *ngIf="loginStatus">Stocks</a>
            <a class="dropdown-item" target="_parent" [routerLink]='["/returned-book"]' *ngIf="loginStatus">Returned book</a>
            <a class="dropdown-item" target="_parent" [routerLink]='["/card-of-reader"]' *ngIf="loginStatus">Cards of Readers</a>
          </div>
        </li>

        <li class="nav-item" *ngIf="!(loginStatus$ | async) as loginStatus">
          <a class="nav-link text-light" *ngIf="loginStatus" [routerLink]='["/login"]'>Login</a>
        </li>
        <li class="nav-item" *ngIf="!(loginStatus$ | async) as loginStatus">
          <a class="nav-link text-light" *ngIf="loginStatus" [routerLink]='["/register"]'>Register</a>
        </li>

        <li class="nav-item dropdown" *ngIf="(loginStatus$ | async) as loginStatus">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  *ngIf="loginStatus">Cart</a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" >
            <a class="dropdown-item" id="dropdownitem" *ngIf="loginStatus">
              <app-cart id="myCart"></app-cart>
            </a>
          </div>
        </li>

        <li class="nav-item" *ngIf="(loginStatus$ | async) as loginStatus">
          <a *ngIf="myOrdersCounter > 0" class="nav-link text-light" target="_parent" [routerLink]='["/myorders"]'>My orders <span class="badge badge-pill badge-success">{{myOrdersCounter}}</span></a>
          <a *ngIf="myOrdersCounter == 0" class="nav-link text-light" target="_parent" [routerLink]='["/myorders"]'>My orders </a>
        </li>

        <li class="nav-item" *ngIf="(loginStatus$ | async) as loginStatus">
          <a class="nav-link text-light" target="_parent" [routerLink]='["/mycardofreader"]'>My Card Of Reader</a>
        </li>

        <li class="nav-item dropdown" *ngIf="(loginStatus$ | async) as loginStatus">
          <a class="nav-link dropdown-toggle" style="color: #00ee00" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="(UserName$ | async) as UserName">
            {{UserName | uppercase}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
            <a class="dropdown-item" target="_parent" [routerLink]='["/myprofile"]' *ngIf="loginStatus">My profile</a>
          </div>
        </li>
        <li class="nav-item" *ngIf="(loginStatus$ | async) as loginStatus">
          <a class="btn btn-light text-dark" (click)="onLogOut()" *ngIf="loginStatus">Logout</a>
        </li>

      </ul>


    </div>

  </nav>
</header>
