<div class="container emp-profile">

  <ng-container *ngIf="myProfile">
    <div class="row">


      <div class="col-md-4" *ngIf="myAvatar">
        <form method="post" [formGroup]="updateFormImage">
          <div class="profile-img">

            <div class="file btn btn-lg btn-primary">
              Change Photo
              <input name="imageUrl" type="file" accept="image/*" (click)="onApplyNewImage(true)"
                     (change)="handleInputChange($event)"/>
            </div>

            <div class="btn" *ngIf="applyNewImage">
              <button type="button" class="btn btn-success" (click)="onUpdateImage(myAvatar)">Apply</button>
            </div>

            <img *ngIf="hasPhoto" alt="User Pic"
                 [src]="imageSrc"
                 id="profile-image" class="img-circle img-responsive">
            <img *ngIf="!hasPhoto" alt="User Pic"
                 src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                 id="profile-image1" class="img-circle img-responsive">

          </div>
        </form>
      </div>

      <div class="col-md-4" *ngIf="!myAvatar">
        <form method="post" [formGroup]="insertFormImage">
          <div class="profile-img">

            <div class="file btn btn-lg btn-primary">
              Change Photo
              <input name="imageUrl" type="file" accept="image/*" (click)="onApplyNewImage(true)"
                     (change)="handleInputChange($event)"/>
            </div>

            <div class="btn" *ngIf="applyNewImage">
              <button type="button" class="btn btn-success" (click)="onInsertImage()">Apply</button>
            </div>

            <img *ngIf="hasPhoto" alt="User Pic"
                 [src]="imageSrc"
                 id="profile-image" class="img-circle img-responsive">
            <img *ngIf="!hasPhoto" alt="User Pic"
                 src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                 id="profile-image1" class="img-circle img-responsive">

          </div>
        </form>
      </div>

      <div class="col-md-6">
        <div class="profile-head">
          <h5>
            {{myProfile.firstName}} {{myProfile.lastName}}
          </h5>
          <h6>
            Web Developer and Designer
          </h6>
          <p class="proile-rating">RANKINGS : <span>10/10</span></p>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                 aria-selected="true">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                 aria-controls="profile"
                 aria-selected="false">Timeline</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" *ngIf="!enableEdit"
               (click)="editable(true, myProfile)"/>
        <input type="submit" class="profile-edit-btn btn-success" style="color: white" name="btnAddMore" value="Save"
               *ngIf="enableEdit" [disabled]="updateFormProfile.invalid"
               (click)="onDoubleSubmit(myProfile)"/>
      </div>
    </div>


    <div class="row">
      <div class="col-md-4">
        <div class="profile-work">
          <p>WORK LINK</p>
          <!--            <a href="">Website Link</a><br/>-->
          <a>Website Link</a><br/>
          <a>Bootsnipp Profile</a><br/>
          <a>Bootply Profile</a>
          <p>SKILLS</p>
          <a>Web Designer</a><br/>
          <a>Web Developer</a><br/>
          <a>WordPress</a><br/>
          <a>WooCommerce</a><br/>
          <a>PHP, .Net</a><br/>
        </div>
      </div>
<!--      <form method="post" >-->
        <div class="col-md-8" [formGroup]="updateFormProfile">
          <div class="tab-content profile-tab" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

              <div class="row">
                <div class="col-md-6">
                  <label>Username</label>
                </div>
                <div class="col-md-6">
                  <p>{{myProfile.userName}}</p>
                </div>
              </div>


              <div class="row">
                <li class="list-group-item" [hidden]="_id">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="authorId"><i class="fa fa-key"></i></span>
                    </div>
                    <input type="text" class="form-control" formControlName="id"/>
                  </div>

                </li>
                <div class="col-md-6">
                  <label>First Name</label>
                </div>
                <div class="col-md-6" *ngIf="!enableEdit">
                  <p>{{myProfile.firstName}}</p>
                </div>
                <div class="col-md-6" *ngIf="enableEdit">
                  <input type="text" id="firstname" formControlName="firstname" class="form-control"
                         placeholder="First name"
                         aria-label="First name">
                  <div *ngIf="_firstname.touched && _firstname.errors" class="errorMessage">
                    <span *ngIf="_firstname.hasError('required')">First Name is required.</span>
                    <span *ngIf="_firstname.hasError('maxlength')">Only 12 characters allowed for First Name.</span>
                    <span *ngIf="_firstname.hasError('minlength')">Atleast 3 characters needed for First Name.</span>
                    <span *ngIf="_firstname.hasError('pattern')">First letter must be uppercase. Only characters are allowed. </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Last Name</label>
                </div>
                <div class="col-md-6" *ngIf="!enableEdit">
                  <p>{{myProfile.lastName}}</p>
                </div>
                <div class="col-md-6" *ngIf="enableEdit">
                  <input type="text" id="lastname" formControlName="lastname" class="form-control"
                         placeholder="Last name"
                         aria-label="Last name">
                  <div *ngIf="_lastname.touched && _lastname.errors" class="errorMessage">
                    <span *ngIf="_lastname.hasError('required')">First Name is required.</span>
                    <span *ngIf="_lastname.hasError('maxlength')">Only 12 characters allowed for First Name.</span>
                    <span *ngIf="_lastname.hasError('minlength')">Atleast 3 characters needed for First Name.</span>
                    <span *ngIf="_lastname.hasError('pattern')">First letter must be uppercase. Only characters are allowed. </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Email</label>
                </div>
                <div class="col-md-6">
                  <p>{{myProfile.email}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Phone</label>
                </div>
                <div class="col-md-6" *ngIf="!enableEdit">
                  <p>{{myProfile.phoneNumber}}</p>
                </div>
                <div class="col-md-6" *ngIf="enableEdit">
                  <input type="text" id="phoneNumber" class="form-control" value="{{myProfile.phoneNumber}}"
                         placeholder="+38(0**)***-**-**"
                         aria-label="phoneNumber">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Profession</label>
                </div>
                <div class="col-md-6">
                  <p>Web Developer and Designer</p>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="row">
                <div class="col-md-6">
                  <label>Experience</label>
                </div>
                <div class="col-md-6">
                  <p>Expert</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Hourly Rate</label>
                </div>
                <div class="col-md-6">
                  <p>10$/hr</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Total Projects</label>
                </div>
                <div class="col-md-6">
                  <p>3</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>English Level</label>
                </div>
                <div class="col-md-6">
                  <p>Expert</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Availability</label>
                </div>
                <div class="col-md-6">
                  <p>6 months</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label>Your Bio</label><br/>
                  <p>Your detail description</p>
                </div>
              </div>
            </div>
          </div>
        </div>
<!--      </form>-->
    </div>

  </ng-container>

</div>
