<div class="mt-3 pt-4 pb-0 footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xs-12 about-company">
        <h2>Library Project</h2>
        <p class="pr-5 text-white-50">This project was made with love and hate.</p>
        <p class="pr-5 text-white-50"></p>
      </div>
      <div class="col-lg-3 col-xs-12 links">
        <h4 class="mt-lg-0 mt-sm-3">Links</h4>
        <ul class="m-0 p-0">
          <li>- <a href="/home">Home</a></li>
          <li>- <a href="/register">Register now</a></li>
<!--          <li>- <a href="#">Etiam vitae mauris</a></li>-->
<!--          <li>- <a href="#">Fusce scelerisque</a></li>-->
<!--          <li>- <a href="#">Sed faucibus</a></li>-->
<!--          <li>- <a href="#">Mauris efficitur nulla</a></li>-->
        </ul>
      </div>
      <div class="col-lg-4 col-xs-12 location">
        <h4 class="mt-lg-0 mt-sm-4">Contact</h4>
          <p>
            <i class="fas fa-home mr-3"></i> Politekhnichna street 41, Kyiv, Ukraine</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> max292009@gmail.com</p>
          <p>
            <i class="fab fa-telegram-plane mr-3"></i> @Max_Prime</p>
          <p>
            <i class="fab fa-angular mr-3"></i> Powered by Angular</p>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col copyright">
        <p class="text text-center"><small class="text-white-50">© 2020. All Rights Reserved.</small></p>
      </div>
    </div>
  </div>
</div>


<!--&lt;!&ndash; Grid column &ndash;&gt;-->
<!--<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">-->

<!--  &lt;!&ndash; Links &ndash;&gt;-->
<!--  <h6 class="text-uppercase font-weight-bold">Contact</h6>-->
<!--  <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">-->
<!--  <p>-->
<!--    <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>-->
<!--  <p>-->
<!--    <i class="fas fa-envelope mr-3"></i> info@example.com</p>-->
<!--  <p>-->
<!--    <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>-->
<!--  <p>-->
<!--    <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>-->

<!--</div>-->
<!--&lt;!&ndash; Grid column &ndash;&gt;-->
