<div class="container-fluid" style="background-color: white">

<!--    <button class="btn btn-warning mb-3 float-right text-uppercase" *ngIf="userRoleStatus == 'Admin'" (click)="onAddProfile()"><i class="fa fa-plus"></i> Add Profile</button>-->
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered row-border hover"
         style="width:100%">
    <thead class="text-center thead-dark">
    <tr>
      <th>Id</th>
      <th>Username</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Allow comments</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let profile of profiles" class="text-center">
      <td>{{profile.id}}</td>
      <td>{{profile.userName}}</td>
      <td>{{profile.email}}</td>
      <td>{{profile.phoneNumber}}</td>
      <td>{{profile.firstName}}</td>
      <td>{{profile.lastName}}</td>
      <td>{{profile.allowComments}}</td>
      <td>
        <div class="btn-group mt-2" role="group">
<!--          <button type="button" class="btn btn-success" (click)="onSelect(profile)"><i class="fas fa-list"></i></button>-->
          <button type="button" class="btn btn-primary" *ngIf="userRoleStatus == 'Admin'"
                  (click)="onUpdateModal(profile)"><i class="fas fa-edit"></i></button>
          <button type="button" class="btn btn-danger" *ngIf="userRoleStatus == 'Admin'" (click)="onDelete(profile)"><i
            class="fas fa-trash-alt"></i></button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<!-- EDIT PROFILE MODAL START-->

<ng-template #editTemplate>
  <div class="modal-header">
    <h4 class="modal-title">EDIT PROFILE DETAILS</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p class="list-group-item active text-center text-uppercase">{{modalMessage}}</p>
    <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
      <ul class="list-group">
        <li class="list-group-item" [hidden]="_id">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="profileId"><i class="fa fa-key"></i></span>
            </div>
            <input type="text" class="form-control" formControlName="id"/>
          </div>

        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="profileTitle"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="UserName" formControlName="userName" class="form-control" placeholder="eg: anyuserName123"
                   aria-label="UserName" aria-describedby="profileTitle">
          </div>
          <div *ngIf="_userName.touched && _userName.errors" class="errorMessage">
            <span *ngIf="_userName.hasError('required')">Username is required.</span>
            <span *ngIf="_userName.hasError('maxlength')">Only 12 characters allowed for Username.</span>
            <span *ngIf="_userName.hasError('minlength')">Atleast 3 characters needed for Username.</span>
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="profileEmail"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <textarea formControlName="email" class="form-control"
                      placeholder="Describe the Profile's Email'" aria-label="Email"
                      aria-describedby="profileEmail"></textarea>
          </div>
          <div *ngIf="_email.touched && _email.errors" class="errorMessage">
            <span *ngIf="_email.hasError('required')">Email is required.</span>
            <span *ngIf="_email.hasError('email')">Please provide valid email.</span>
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="profilePhoneNumber"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="phoneNumber" formControlName="phoneNumber" class="form-control" placeholder="+38(044)123-45-67"
                   aria-label="phoneNumber" aria-describedby="profilePhoneNumber">
          </div>
          <div *ngIf="_phoneNumber.touched && _phoneNumber.errors" class="errorMessage">
            <span *ngIf="_phoneNumber.hasError('maxlength')">Only 25 characters allowed for Phone Number.</span>
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="profileFirstName"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="firstName" formControlName="firstName" class="form-control" placeholder="eg: Bob"
                   aria-label="firstName" aria-describedby="profileFirstName">
          </div>
          <div *ngIf="_firstName.touched && _firstName.errors" class="errorMessage">
            <span *ngIf="_firstName.hasError('required')">First Name is required.</span>
            <span *ngIf="_firstName.hasError('maxlength')">Only 12 characters allowed for First Name.</span>
            <span *ngIf="_firstName.hasError('minlength')">Atleast 3 characters needed for First Name.</span>
            <span *ngIf="_firstName.hasError('pattern')">First letter must be uppercase. Only characters are allowed. </span>
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="profileLastName"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="lastName" formControlName="lastName" class="form-control" placeholder="eg: Norris"
                   aria-label="lastName" aria-describedby="profileLastName">
          </div>
          <div *ngIf="_lastName.touched && _lastName.errors" class="errorMessage">
            <span *ngIf="_lastName.hasError('required')">Last Name is required.</span>
            <span *ngIf="_lastName.hasError('maxlength')">Only 12 characters allowed for Last Name.</span>
            <span *ngIf="_lastName.hasError('minlength')">Atleast 3 characters needed for Last Name.</span>
            <span *ngIf="_lastName.hasError('pattern')">First letter must be uppercase. Only characters are allowed. </span>
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="allowComments"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="checkbox" id="allowComments" formControlName="allowComments" class="form-control" placeholder="true/false"
                   aria-label="allowComments" aria-describedby="allowComments">
          </div>
          <div *ngIf="_allowComments.touched && _allowComments.errors" class="errorMessage">
            <span *ngIf="_allowComments.hasError('required')">Allow comments are required.</span>
          </div>
        </li>
        <li class="list-group-item">
          <button [disabled]="updateForm.invalid" class="btn btn-primary btn-block">UPDATE</button>
        </li>
      </ul>

    </form>

  </div>
</ng-template>

<!-- EDIT PROFILE MODAL END-->
