
.section-ecommerce aside{
  height: 100%;
  float:left;
  width: 1000px;
}

.categories{
  margin-left: 100px;
}

.section-ecommerce .items{
  margin-left: 50px;
  padding-left:340px;
  padding-bottom: 70px;}
