<br/>
<h1 style="color: white; text-align: center">List of Books</h1>
<hr/>

<section class="section-ecommerce">
  <aside id="aside">
    <div class="categories">
      <app-search (groupFilters)="filters = $event"
                  (autoSearch)="searchText = $event">
      </app-search>
    </div>
  </aside>
  <div class="items">
    <app-bookofauthor-list [groupFilters]="filters"
                           [searchByKeyword]="searchText">
    </app-bookofauthor-list>
  </div>
</section>




